.login-container{
    display:flex;
    justify-content:center;
    flex:1;
}

.login-form{
    margin:auto;
    max-width:660px;
}

form{
    display:flex;
    flex-flow:column;
    padding:20px;
    gap:3rem;
    border-radius:8px;
    border:2px solid rgba(0,0,0,0.75);
    text-align:center;
}

h1{
    font-size:clamp(3rem, 8vw, 5rem)
}

input{
    font-size:clamp(1.5rem, 8vw, 3rem)
}

button{
    padding: 15px 20px;
}

.user, .pass, .email{
    border-radius:10px;
}

.remember-forgot{
    display:flex;
    justify-content:space-between;
}

a{
    color:#2D2D2D;
}

a:hover{
    cursor:pointer;
}

p{
    margin:0;
}

.feedback{
    color:red;
}

.good-feedback{
    color:green;
}