.container{
  display:flex;
  flex:1;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

h1{
  margin:0;
}

.game{
  width:100%;
}

header{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:5vh;
}

header img{
  height:100%;
  width:auto;
}

.header-links{
  display:flex;
  flex-flow:row;
  gap:32px;
}

li{
  font-size:20px;
  font-weight:bold;
  list-style-type: none;
}

