.container{
  display:flex;
  flex:1;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

.score-points{
  margin:0;
  font-size:clamp(1rem, 8vw, 3rem);
}


header{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:5vh;
}

header img{
  height:100%;
  width:auto;
}

.header-links{
  display:flex;
  flex-flow:row;
  gap:32px;
}

li{
  font-size:20px;
  font-weight:bold;
  list-style-type: none;
}

